{% extends 'base.html' %}


{% block content %}



<div class="row">
    <div class="col-sm">
{% for x in resz %}
    <p>{{x.txndate}} {{x.totalcasez}}    {{x.process}}     {{x.size}}</p>
{% endfor %}
    </div>

    <div class="col-sm">

        <h1>Crims</h1>    
        {% for i in crims %}
            <p>{{i}}</p> 
        {% endfor %}
        {{ttlcrim}}
        <h1>Whites</h1>
        {% for i in whites %}
            <p>{{i}}</p> 
        {% endfor %}
        {{ttlwhites}}

    </div>


</div>


{% endblock content %}
    