{% extends 'base.html' %}

{% block css %}
<style>
    .input-box{
        background-color: green;
        width: 45px;
        height:45px;
    }

    .not-saved{

        width: 45px;
        height: 45px;
    }

    .move-over{
        padding-left: 100px;

    }

</style>
{% endblock css %}
    

{% block content %}

    
    {% comment %} {{form}} {% endcomment %}
    <div>
        <form method='POST'>{% csrf_token %}
        <input type='text' name='addroom'></input>
        <button type='submit'>Add room</button>
    </form>
    
    </div>
    <br>

    {% comment %} {{form2}} {% endcomment %}
    </div>
    
    {% for obj in obj3%}
        
    <div>
    <form method='POST'> {% csrf_token %}
    {% comment %} this one {{f}} {% endcomment %}
    <label for='roomno'>Room:</label>

    <input type='text' class={{obj.eclass}} id='roomno' name='roomno' value={{obj.roomno}}></input>
    <input type='text' class={{obj.eclass}} name='day1' value={{obj.day1lbs}}></input>
    <input type='text' class={{obj.eclass}}  name='day2' value={{obj.day2lbs}}></input>
    <input type='text' class={{obj.eclass}} name='day3' value={{obj.day3lbs}}></input>
    
    {% if obj.eclass != 'input-box' %}
    <button onclick= "alert('success')" type="submit">Update</button>
    <span class='move-over'>
        <input class='not-saved' type="checkbox" name='delcheckbox'></input>
    </span>
    {% endif %}
        
    

        <p>Last updated: {{obj.updated}}</p>
    
    </form>
    </div>
<div>
   

    {% comment %} <div>
    <form>
    <input type='text' placeholder={{f.day1lbs}}>
    <input type='text' placeholder={{f.day2lbs}}>
    <input type='text' placeholder={{f.day3lbs}}>
    </form>
    </div>

    <form>
    <input type='text' placeholder={{f.day1lbs}}>
    <input type='text' placeholder={{f.day2lbs}}>
    <input type='text' placeholder={{f.day3lbs}}>
    </form>
     {% endcomment %}

    {% endfor %}

  


{% endblock content %} 